<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script id="personTemplate" type="text/template">
    <h1><%= name %></h1>
    <br>
    <p>Age: <%= age %></p>
    <p>Occupation: <%= occupation %></p>
</script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/backbone/backbone-min.js"></script>
<script src="main.js"></script>
</body>
</html>